magenta==2.1.4
tensorflow==2.9.1
tensorflow-probability=0.17.0
note-seq
numpy
scipy=1.7.3
pydub
PyWavelets
python-dotenv
fluidsynth
pretty_midi
librosa=0.7.2
soundfile
matplotlib
midi2audio
Flask
Flask-CORS
Werkzeug
gunicorn
PyWavelets
numba=0.49.1
numpy=1.22.0
music21
memory_profiler
pystoi
pesq